.pnlm-PanoramaHotSpot {
  background-position:0 -26px;
}
.pnlm-LinkHotSpot {
  background-position:0 0;
}
.pnlm-ImageHotSpot {
  background-position:0 0;
}
.pnlm-VideoHotSpot {
  background-position:0 0;
}
